@media all and (min-width: 768px) and (max-width: 1024px) {

    .Filtres {
        flex-wrap: wrap;
    }

    .TitreFiltre {
        margin-bottom: 0;
    }

    .EnsemblesOptions {
        margin-bottom: 0;
    }
    
    .Section {
        flex-direction: column;
    }

    .SectionHebergement {
        width: 100%;
        max-width: 924px;
    }

    .AsidePopulaire {
        width: 100%;  
        max-width: 924px;          
        margin-left: 0;
        margin-top: 50px;
        justify-content: space-between;
    }

    .Ensemble3Populaire {
        display: flex;
        margin-right: 3%;
    }

    .InfoHotelPopulaire {
        margin-right: 0;
        max-width: 274px;
        width: 100%;

    }

    .PhotoPopulaire {
        height: 100%;
        width: 40%;
    }

    .PhotoActivite {
        height: 200px;
    }
}